@import '../../../theme.scss';

.tabContent {
    height: 100%;
    border: 2px solid $tab-border;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 1em;
    min-width: fit-content;
}
